.details-wrapper {
  padding: 40px 10%;
  background-color: #fdfdfd;
}

.back-btn {
  margin-bottom: 20px;
  background: none;
  border: 1px solid #ccc;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.details-layout {
  display: flex;
  gap: 40px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.image-box {
  flex: 1.2;
}

.image-box img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}

.info-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.category-tag {
  color: #007bff;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.price-section .amt {
  font-size: 2rem;
  font-weight: 800;
  color: #333;
}

.features-list {
  display: flex;
  gap: 15px;
  margin: 15px 0;
}

.f-item {
  background: #f0f7ff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
}

.book-now-btn {
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
}

.error-page{
  display: flex;
  flex-direction: row;
  justify-content: end;
}


.action-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}